.pad_header {
  width: 80%;
  display: flex;
  justify-content: center;
}

.make_new_note {
  width: 80%;
  display: flex;
  justify-content: center;
}

.make_new_note input {
  padding: 10px 20px 10px 20px;
  font-size: 17px;
}
