.main_container {
  display: flex;
  width: 100% !important;
}

.notes {
  /* padding-top: 30px; */
  width: 20%;
  min-height: 80vh;
  border-right: 1px solid black;
}

.writing_pad {
  /* padding-top: 30px; */
  width: 80%;
}
